
@font-face {
    font-family: 'TsMatka-Bold';
    src: url('../font/TsMatka-Bold.otf') format('opentype');
    src: url('../font/TsMatka-Bold.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Heebo:400,500,700|Pacifico&subset=hebrew');

body {
    direction: rtl;
    background: url('../Images/dot.png') fixed,
        url('../Images/dotted.png');
    background-size: 800px auto;
    background-position: top left;
    scroll-behavior: smooth;
}


header {
     font-family: 'TsMatka-Bold';
    font-weight: bold;
}

.en {
    font-weight:700;
    font-family: 'Amatic SC', cursive;
}




#container {
    width: 960px;
    margin: 0 auto;
    height: auto;
    margin-top:75px;
}


#secdiv {
    display: block;
    width: 960px;
    background-size: 960px auto;
    height: 00px;
    margin-bottom: 0px;
    position: fixed;
}

#secnav {
    margin-top: 0px;
    margin-right: 0px;
    position: fixed;
    z-index:100;
    top: 00px;
}

    #secnav ul {
        list-style: none;
        margin: 0px 0px;
        height: 41px;
        margin: 0px 0px;
        padding: 0px 00px;
        display: block;
        width: 960px;
        background-color: white;
        z-index: 100;
    }

#secnav ul li {
    display: inline-block;
    float: left;
    }


    #secnav ul li a {
        display: block;
         color: #3C3C3C;
        width: 100px;
        height: 30px;
        text-decoration: none;
        text-align: center;
         font-size:20px;
        padding-top:10PX;
        position:relative;
    }


#secnav ul li a:hover:after {
width: 100%;
}


#secnav ul li a:after {
    content: '';
    position: absolute;
    top: auto;
    left: 0;
    right: auto;
    bottom: -1px;
    width: 0;
    border-bottom: 1px solid #00C0C0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}


#here {
    background-color: #ccf2f2;
    border-bottom: 1px solid #00C0C0;
}

#maina {
    height: 41px;
    float: right;
    display: inline-block;
    width: 130px;
    background-image: url('../Images/logo.png');
    background-size: 130px 41px;
}


#cvfile {
    width: 500px;
    background-color: white;
    margin: 10px auto;
    border-bottom: 20px solid white;
    padding: 30px 20px;
    background-image: url('../Images/photo2.png');
    background-size: 540px 744px;
}

#cvsec{
    width:500px;
    margin:auto;
}

.contactlogo {
    display:block;
    height: 40px;
    width: 40px;
    background-size: 80px 40px;
    background-position: left;
       margin-right: 780px;
    margin-top:15px;
    position: left;
}

#contactu a:hover .contactlogo {
    background-position: right;
}

#contactu {
    width: 960px;
    background-color: white;
    height: 600px;
    margin-top: 90px;
    background-image: url('../Images/coffe.gif');
    background-position-x: 729px;
    background-position-y: 15px;
    background-repeat: no-repeat;
    position:static;
    z-index:-1;
}

#contactu a {
    float: left;
    font-family: Heebo;
    text-align: left;
    display: block;
    width: 150px;
    height: 70px;
    text-decoration: none;
    position:static;
    z-index:-1;
}

.contactspan {
    padding: 20px 20px;
    position: relative;
    bottom: 25px;
    left: 42px;
    font-size: 18px;
    font-family: Heebo;
    color: #3C3C3C;
}
#contactu ol {
    position: relative;
    bottom: 39px;
    left: 50px;
}

#contactu ol li {
    width: 200px;
    list-style: none;
    display: block;
    direction: ltr;
    text-align: left;
    margin-right: 650px;
}

    #contactu ol li a {
        width: 200px;
        float: left;
        list-style: none;
        display: block;
    }

#facebook {
    background-image: url('../Images/contact/sprite_instabook.png');
}

#linkedin {
    background-image: url('../Images/contact/sprite_linkedin.png');
}

#email {
    background-image: url('../Images/contact/sprite_email.png');
}

#phone {
    background-image: url('../Images/contact/sprite_phone.png');
}

#instagram {
    background-image: url('../Images/contact/sprite_instagram.png');
}

.par1 {
    height: 370px;
    background-color: white;
    width: 960px;
}

.para {
margin-top:90px;
}

.para2 {
    height: 50px;
    width: 960px;
    background-color: white;
    background-image: url('../Images/line.png');
    background-size: 960px 3px;
    background-repeat: no-repeat;
    background-position: center;
}



#youtube {
    float: left;
    margin-top: 27px;
    margin-left: 33px;
    background-image: url(../Images/youtube.png);
    background-size: 475px 301px;
    padding-top: 9px;
    padding-right: 101px;
    padding-left: 14px;
    padding-bottom: 7px;
}





:root {
    --mania-x: 0px;
    --trump-x: 0px;
    --height-win: 0px;
    --width-win: 0px;
    --width-scout: 0px;
}



.paralexc {
    margin-bottom: 10px;
    color: #00c0c0;
    font-size: 30px;
    float: right;
    margin-right: 33px;
    margin-top: 27px;
    display: inline-block;
}

.paralexp {
    color: #3C3C3C;
    font-size: 16px;
    float: right;
    display: inline-block;
    width: 380px;
    margin-right: 33px;
    margin-top: 0px;
    font-weight: 500;
    font-family: Heebo;
}

#trump {
    background-image: url('../Images/photo.png');
    margin-top: 27px;
    margin-left: 33px;
    padding: 10px 12.5px;
    width: 450px;
    height: 296px;
    float: left;
    background-size: 475px 316px;
    // position: relative;
    right: var(--trump-x);
}

#mania {
    background-image: url('../Images/photo.png');
    margin-top: 27px;
    margin-left: 33px;
    padding:10px 12.5px;
    width: 450px;
    height: 296px;
    float: left;
    background-size: 475px 316px;
    // position: relative;
    right: var(--mania-x);
}

#hamasa {
    float: left;
    margin-top: 27px;
    margin-bottom: 45px;
    margin-left: 33px;
    background-image: url('../Images/IPAD.png');
    padding:20PX 20PX 30PX 20PX;
    background-size: 340px 450px;
}

.paro {
    background-color:white;
    width:960px;
    height: 565px;
    margin:90px 0px;

}

.paro.learnp {
    height:600px;
}

div.mainlogo {
    padding-right: 90pt;
    background-image: url('../Images/onlylogo.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 109px;
    padding-top: 13px;
    margin-right: 292px;
    border-top:70px solid white;
}

h1.mainlogo {
    margin-bottom: 0px;
    font-size: 60pt;
    margin-top:0px;
}

h2 {
    color:#00c0c0;
    margin-top:0px;
    font-size:30px;
    margin-bottom:0px;
}

#containerstart{
    background-color:white;
    width:960px;
    height:500px;
    margin:0 auto;

}

#mainp {
    width: 375px;
    margin-right: 292px;
    margin-top: 5px;
    font-size:19px;
    margin-bottom:15px;
}

.shura {
    display: inline-block;
    background-color: #ccf2f2;
    margin-top: 7px;
    padding: 0px 2px;
    font-weight: bold;
}

span.savta {
    font-family: 'Pacifico', cursive;
    color: #f82471;
    font-size:24px;
}

img.savta {
    background-image: url('../Images/laptop.png');
    margin-top: 27px;
    margin-right: 33px;
    padding: 25px 50px 41px 50px;
    width: 375px;
    height: 250px;
    float: right;
    background-size: 475px 316px;
}

#buttonlt {
    color: white;
    background-image: url('../Images/buttonlt.png');
    background-position: left;
    background-size: 380px 48px;
    padding: 2px 26px;
    font-size: 45px;
    text-decoration: none;
    margin-right: 416px;
}

#buttonlt:hover {
    color:black;
    background-position:right;
}

img.wed {
    background-image: url('../Images/wedback.png');
    margin-top: 27px;
    margin-right: 50px;
    margin-left: 40px;
    padding: 13px 7.5px 14px 7.5px;
    width: 250px;
    height: 500px;
    float: right;
    background-size: 265px 527px;
}

section.wed {
    height: 600px;
    background-color: white;
    width: 960px;
}

img.scout {
    background-image: url('../Images/photo2.png');
    margin-top: 27px;
    margin-right: 50px;
    margin-left: 40px;
    padding: 15px 12.5px;
    width: 300px;
    height: 426px;
    float: right;
    background-size: 325px 456px;
}

section.scout {
    height: 480px;
    background-color: white;
    width: 960px;
}

#mainnav ul {
    list-style: none;
    margin: 0px 0px;
    height: 41px;
    margin: 0px 80px;
    padding: 0px 00px;
    display: block;
    width: 800px;
    background-color: white;
}

    #mainnav ul li {
        display: inline-block;
        float: left;
    }


        #mainnav ul li a {
            display: block;
            color: #3C3C3C;
            width: 200px;
            height: 30px;
            text-decoration: none;
            text-align: center;
            font-size: 20px;
        }

            #mainnav ul li a:hover div {
                background-position: right;
            }

.mainav {
    display: block;
    height: 50px;
    width: 50px;
    background-size: 100px 50px;
    background-position: left;
    margin: 0px 75px 10px;
}

#graphicnav {
    background-image: url('../Images/sprite_uxi.png');
}

#cvnav {
    background-image: url('../Images/sprite_cv.png');
}

#uxinav {
    background-image: url('../Images/sprite_desing.png');
}

#learnav {
    background-image: url('../Images/sprite_leraning.png');
}

#protdor {
    background-image: url('../Images/photo.png');
    margin-top: 27px;
    margin-left: 33px;
    padding: 10px 12.5px;
    width: 450px;
    height: 296px;
    float: left;
    background-size: 475px 316px;
}

.para2.para4 {
    width:800px;
    margin: 0px 80px;
}

#contacth2 {
    margin:27px 33px 0px 0px;
    padding-top:27px;

}

h2.mainlogo {

font-size:37px;
}

/* רקע 
.modal {
    display: none;
    position: fixed;
    z-index: 140;
    padding-top: 65px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: url('../Images/dot.png');
    background-size: 800px auto;
    background-color: rgb(250,250,250,0.95);
    background-position: top left;
}

/* חלון */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    max-width: 1200px;
}

/* כפתור סגירה */
.close {
    color: #3C3C3C;
    position: absolute;
    top: 0px;
    right: 200px;
    font-size: 55px;
    font-weight: bold;
}

    .close:hover{
        color: #00c0c0;
        text-decoration: none;
        cursor: pointer;
    }

/* ברירת מחדל להסתרה */
.mySlides {
    display: none;
    margin: auto auto;
}

.photohover {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

/*הובר לתמונות*/
.photohover:hover {
    opacity: 0.6;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.winwin {
    height: var(--height-win) ;
}

#weddsize {
    width: var(--width-win);
}

#scoutsize {
    width: var(--width-scout);
}

#hamasabutton {
    color: white;
    position: relative;
    display: inline-block;
    background-image: url(../Images/buttonlt.png);
    background-position: left;
    background-size: 397px 37px;
    padding: 2px 26px;
    font-size: 30px;
    text-decoration: none;
    margin-right: 33px;
    margin-left: 80px;
}

#hamasabutton:hover {
        color: black;
        background-position: right;
    }