
@font-face {
    font-family: 'TsMatka-Bold';
    src: url('../font/TsMatka-Bold.otf') format('opentype');
    src: url('../font/TsMatka-Bold.ttf') format('truetype');
}



font-family: 'theFontName';


body {
    direction: rtl;
    background-image: url('../Images/Untitled-1-01.png');
}

#container {
    width: 960px;
    margin: 0 auto;
    background-color: lightgray;
    height: 500px;
}

#startdiv {
    display: block;
    width: 960px;
    background-image: url('../Images/BACKGROUND2.png');
    background-size: 960px auto;
    height: 117px;
    margin-bottom: 0px;
}

#startnav  {
 background-color: #00c0c0;
 margin-top: 0px;
 margin-right: 0px;
}

#startnav ul {
    list-style: none;
    margin: 0px 0px;
    background-color: #00c0c0;
    height: 30px;
    margin:0px 0px;
    padding:0px 120px ;
}

#startnav ul li {
    display: inline-block;
    float: right;
    }

    #startnav ul li a {
        display: block;
        background-color: #00c0c0;
        color: white;
        width: 120px;
        height: 30px;
        text-decoration: none;
        text-align: center;
        transition: all .5s ease;
    }

        #startnav ul li a:hover {
            box-shadow: 0px -1px white inset;
            transition: all .5s ease;
        }

