
@font-face {
    font-family: 'TsMatka-Bold';
    src: url('../font/TsMatka-Bold.otf') format('opentype');
    src: url('../font/TsMatka-Bold.ttf') format('truetype');
}




body {
    direction: rtl;
    background-color: WHITE;

}

header {
    font-family: 'TsMatka-Bold';
    font-weight: bold;

}


#container {
    width: 960px;
    margin: 0 auto;
    height: auto;
    background-color: WHITE;
    -webkit-box-shadow: 10px 10px 10px 10px #B8B8B8;
    box-shadow: 10px 10px 10px 10px #B8B8B8;
    margin-top:75px;
}


#secdiv {
    display: block;
    width: 960px;
    background-size: 960px auto;
    height: 00px;
    margin-bottom: 0px;
    position: fixed;
}

#secnav {
    margin-top: 0px;
    margin-right: 0px;
    position: fixed;
    top: 00px;
}

    #secnav ul {
        list-style: none;
        margin: 0px 0px;
        height: 75px;
        margin: 0px 0px;
        padding: 0px 00px;
        display: block;
        width: 960px;
        background-color: white;
    }

#secnav ul li {
    display: inline-block;
    float: left;
    }


    #secnav ul li a {
        display: block;
         color: #3C3C3C;
        width: 100px;
        height: 30px;
        text-decoration: none;
        text-align: center;
         font-size:20px;
        padding-top:20PX;
    }

        #secnav ul li a:hover {
            border-bottom: 1px solid #00C0C0; 
                
        }

     

#maina {
    height: 70px;
    float: right;
    display: inline-block;
    width: 209px;
    background-image: url('../Images/logo.png');
    background-size: 209px 70px;
    margin-top:5PX;
}

#mainaa {
    height: 200px;
    float: right;
    display: flex;
    width: 597px;
    background-image: url('../Images/logo.png');
    position: relative;
    background-size: 597px 200px;
}

#cvfile {
    width: 800px;
    height: 1093px;
    background-color: white;
    margin: 0px auto;
    border-bottom:20px solid white;
    margin-top: 20px;
    background-image: url('../Images/cv.png');
    background-size: 800px 1093px;
}

.contactlogo {
    display:block;
    height: 40px;
    width: 40px;
    background-size: 80px 40px;
    background-position: left;
       margin-right: 780px;
    margin-top:15px;
    position: left;
}

.contactlogo:hover{
    background-position:right;
}

#facebook {
    margin-top: 30px;
    background-image: url('../Images/contact/sprite_instabook.png');
}

#linkedin {
    background-image: url('../Images/contact/sprite_linkedin.png');
}

#email {
    background-image: url('../Images/contact/sprite_email.png');
}

#phone {
    background-image: url('../Images/contact/sprite_phone.png');
}

#instagram {
    background-image: url('../Images/contact/sprite_instagram.png');
}

#par1 {
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../Images/TELEM/Untitled-1.png');
    margin-top:75PX;
}

.para{
    height:100px;
    width:960px;
}

#par2 {
    background-color:white;

}
#par3 {
    background-image: url('../Images/background.png');
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#par4 {
    background-color: white;
}

#par5 {
    background-image: url('../Images/background.png');
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#youtube{
    float:left;
    margin-top: 75px;
    margin-left:60px;
}

.paralexc {
    color: #00c0c0;
    font-size: 30px;
    float: right;
    margin-right: 60px;
    margin-top: 75px;
    display: inline-block;
}

.paralexp {
    color: #3C3C3C;
    font-size: 20px;
    float: right;
    display:inline-block;
    width:380px;
    margin-right: 60px;
}

#trump {
    background-image: url('../Images/TELEM/trump.png');
    margin-top: 116px;
    margin-left: 60px;
    width: 400px;
    height: 267px;
    float: left;
    background-size: 400px 267px;
}

#mania {
    background-image: url('../Images/TELEM/mania.png');
    margin-top: 116px;
    margin-left: 60px;
    width: 400px;
    height: 267px;
    float: left;
    background-size: 400px 267px;
}